* {
  margin: inherit;
  padding: inherit;
  font-size: inherit;
  box-sizing: border-box;
  user-select: none;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  position: relative;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: snow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

/* .gameboard {
  width: fit-content;
  height: fit-content;
} */

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.absolute-center {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gamepanel {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid lavender;
  padding: 0px 8px;
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.title {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  color: royalblue;
  text-transform: capitalize;
}

.gamepanel>div {
  width: 100%;
  max-width: 320px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.score-container {
  width: fit-content;
  border-radius: 9999px;
  padding: 4px 12px;
  border: 2px solid rgb(6, 170, 33, .4);
  background: rgb(6, 170, 33, .1);
  font-size: 1rem;
  font-weight: 700;
  color: rgb(6, 170, 33);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.card-container {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(var(--grid-col), minmax(var(--card-size), var(--card-size)));
  gap: 12px;
}

@keyframes firstShow {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.card {
  position: relative;
  min-width: var(--card-size);
  width: var(--card-size);
  max-width: var(--card-size);
  min-height: var(--card-size);
  height: var(--card-size);
  max-height: var(--card-size);
  border-radius: 8px;
  background: lavender;
  border: 1px solid rgb(213, 213, 231);
  overflow: hidden;
  cursor: pointer;
}

.card.firstShow {
  animation: firstShow 600ms ease-in 1;
  animation-delay: var(--animation-delay);
  animation-duration: var(--animation-duration);
}

.card .recto,
.card .verso {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card,
.card .recto,
.card .verso {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.card .recto {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lavender;
  z-index: 10;
  opacity: 0;
}

.card .recto img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes showAnimation {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.card.show {
  animation: showAnimation 200ms ease-in 1;
}

.card.show .recto {
  opacity: 1;
}

.card .verso {
  background: royalblue;
}

.card .verso:hover {
  filter: brightness(.7);
}

/* .card:hover {
  border-color: rgb(196, 196, 218);
  box-shadow: 0px 2px 8px rgb(196, 196, 218, 0.6),
    0px 2px 12px rgb(196, 196, 218, 0.5);
} */

.card.found {
  box-shadow: none !important;
  overflow: hidden !important;
  transform: scale(0);
}

@keyframes beat {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.finish {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-200vh);

  button {
    width: fit-content;
    height: 44px;
    padding-inline: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: rgb(226, 0, 94);
    color: white;
    border-radius: 9999px;
  }

  button:hover {
    filter: brightness(.9);
    animation: none;
  }
}

.finish.done {
  transform: translateX(-50%) translateY(-50%);
}

.footer {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-inline: 12px;
  padding-block: 8px;
  font-size: 12px;
}